version: '3.9'

services:
  backend:
    build: .
    container_name: bloc_backend
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - MONGO_URI=${MONGO_URI}
    restart: always
